
[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = yaml-cpp-0.6.3
[submodule "dependencies/sockpp"]
	path = dependencies/sockpp
	url = https://github.com/theionSami/sockpp.git